<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <span>
        Menu
      </span>
      <span class="flex-auto"></span>
      <button mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <div *ngIf="(isHandset$ | async);else desktop">
        <div *ngFor="let item of menuItems">
          <a mat-list-item [routerLink]="item.url" routerLinkActive="active" (click)="drawer.toggle()">
            <div class="flex flex-row justify-content-start">
              <mat-icon class="mr-2">{{item.icon}}</mat-icon>
              <div>
                {{item.label}}
              </div>
            </div>
          </a>
        </div>
      </div>
      <ng-template #desktop>
        <div *ngFor="let item of menuItems">
          <a mat-list-item [routerLink]="item.url" routerLinkActive="active">
            <div class="flex flex-row justify-content-start">
              <mat-icon class="mr-2">{{item.icon}}</mat-icon>
              <div>
                {{item.label}}
              </div>
            </div>
          </a>
        </div>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Heroes App</span>
      <span class="flex-auto"></span>
      <button mat-icon-button (click)="logout()">
        <mat-icon aria-label="Side nav toggle icon">logout</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>